{% extends 'base.html' %}

{% block content %}
<hr>
<table class="members-table">
    <tr>
        <td>{{member.first_name}}</td>
        <td>{{member.last_name}}</td>
        <td>Age: {{member.age}}</td>
        <td>Membership: {{member.membership_type}}</td>
</tr>
</table>
<div class="del-edit">
<form action="/members/delete/{{member.id}}" method="POST">
    <input type="submit" value="Delete">
</form>
<form action="/member/edit/{{member.id}}" method="GET">
    <input type="submit" value="Edit">
</form>
</div>
<hr>


<table>
    <tr>
        <th><u>Booked Into:</u></th>
    </tr>
    {% for enroll in enrollments %}
    <tr>    
        <td>{{enroll.Class.name}}</td>
        <td><form action="/enrollment/delete_from_member/{{enroll.id}}/{{member.id}}" method="POST"><input type="submit" value="Delete Booking"></td>
    </tr>
    {% endfor %}
</table> 
{% endblock  %}