{% extends 'base.html' %}

{% block content %}
<hr>
<table class="members-table">
    <tr>
        <td>{{member.first_name}}</td>
        <td>{{member.last_name}}</td>
        <td>Age: {{member.age}}</td>
        <td>Membership: {{member.membership_type}}</td>
</tr>
</table>
<form action="/members/delete/{{member.id}}" method="POST">
    <input type="submit" value="Delete">
</form>
<form action="/member/edit/{{member.id}}" method="GET">
    <input type="submit" value="Edit">
</form>
<hr>





<table>
    <tr>
        <th>Booked Into:</th>
    </tr>
    {% for class in classes %}
    <tr>    
        <td>{{class.name}} </td>
    </tr>
    {% endfor %}
</table> 
{% endblock  %}