{% extends 'base.html' %}

{% block content %}
<hr>  
<table class="classes-table">
    <tr>
        <td>{{Class.name}} </td>
        <td>Class Type: {{Class.type}} </td>
        <td>{{Class.date}} </td>
        <td>Capacity: {{Class.capacity}} </td>
</tr>
</table>
<form action="/class/delete/{{Class.id}}" method="POST">
    <input type="submit" value="Delete">
</form>
<form action="/class/edit/{{Class.id}}" method="GET">
    <input type="submit" value="Edit">
</form>
<hr>
<table>
    <tr>
        <th>Members in class:</th>
    </tr>
    {% for member in members %}
    <tr>    
        <td> {{member.first_name}} {{member.last_name}}</td>
    </tr>
    {% endfor %}
</table>    
</div>


{% endblock  %}