{% extends 'base.html' %}

{% block content %}

<h1>Classes</h1>
<hr>
<a class="newmem" href="/classes/new">Add New Class</a>


<table class="classes-table">
    <tr>
        <th><u>Class Name</u></th>
        <th><u>Class Type</u></th>
        <th><u>Date</u></th>
        <th><u>Capacity</u></th>
    </tr>
    {% for class in classes %}
    <tr>
        <td><a class="class_links" href="/class/{{class.id}}">{{class.name}}</td></a>
        <td>{{class.type}}</td>
        <td>{{class.date}}</td>
        <td>{{class.capacity}}</td>
    </tr>
    {% endfor %}
</table>
{%endblock%}
