{% extends 'base.html' %}

{% block content %}
    
<form action="/classes/add_class" method="POST">

    <label for="class_name">Class Name: </label>
    <input  type="text" name="class_name" id="class_name" placeholder="Class Name" required autofocus>
    
    <label for="class_type">Class Type: </label>
    <input type="text" name="class_type" id="class_type" placeholder="Class type" required>
    
    <label for="class_date">Date:</label>
    <input type="date"  name="class_date" id="class_date" required>
    
    <label for="class_capacity">Capacity</label>
    <input type="number"  name="class_capacity" id="class_capacity" required>
    
    <button type="submit">Add Class</button>
</form>

{% endblock %}