h1{
    background-color: black;
    text-align: center;
    color: wheat;
    margin: 0px;
}

body{
    /* background-color: wheat; */
    background-image: url("../images/main_bg.jpeg");
    background-size: cover;
    color: white;

}
main nav ul li{
    list-style: none;
    margin-right: 20px;
}
main nav ul{
    display: flex;
    flex-direction: row;
    justify-content: left;

}
main nav ul li a:link{
    text-decoration: none;
    list-style: none;
    color:white
}
main nav ul li a:active{
    text-decoration: none;
    list-style: none;
    color:white

}
main nav ul li a:visited{
    text-decoration: none;
    list-style: none;
    color:white

}
main nav ul li a:hover{
    color: blue;
}
.main_links:link, .main_links:visited, .main_links:active{
    color: white;
    text-decoration: none;
}
.main_links:hover{
    color: blue;
}
.del-edit{
    display: flex;
    padding: 10px;
    gap: 20px;
}
td{
    padding-right: 30px;
}

th{
    font-size: x-large;
}
#logo{
    height: 100px;
    width: auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
}