<!DOCTYPE html>
<html>
<head>
    <title>Tainted Gym</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/members.css">
    <link rel="stylesheet" href="static/css/classes.css">
    <link rel="stylesheet" href="static/css/enrollments.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
</head>
<header><h1>Tainted Gym</h1></header>
<body>

<main class="nav">
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/classes">Classes</a></li>
        <li><a href="/enrollments">Bookings</a></li>
    </ul>
    </nav>
    <section id="content">
    
    {% block content %}

    {% endblock%}
</section>
</main>
<footer><img id="logo" src="../static/images/puregym+logo.png" alt="Logo"></footer>
</body>
</html>